extends _master.pug
block content
  - var alerts = ["primary","secondary","success","danger","warning","info","light","dark"]
  mixin createContent(colCls)
    div(class=colCls)
      .card
        .card-body.text-center=colCls


  .container-fluid
    .animated.fadeIn
      .row
        .col-6
          .card
            .card-header
              h4 Alerts
            .card-body
              each val in alerts
                .alert(class=`alert-${val}`) This is a #{val} alert-click it out!
        .col-6
          .card
            .card-header
              h4 Alerts - Link color
            .card-body
              each val in alerts
                .alert(class=`alert-${val}`) This is a #{val} width  <a href="#" class="alert-link">an example link</a>
        .col-6
          .card
            .card-header
              h4 Dismissing
            .card-body
              each val in alerts
                .alert(class=`alert-${val}`)
                  button.close(type='button')
                    span(aria-hidden='true') ×
                  strong Holy guacamole!
                    | You should check in on some of those fields below.